.container
  .span6.offset3
  .col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
    - if @devices.blank?
      %h4
        没有设备,
        %a{href: "#newDevice", data: {toggle: "modal"}} 创建一个
    - else
      .table-responsive
        %table.table.table-striped
          %tr
            %th 名称
            %th IMEI号
            %th 操作
            %th
          - @devices.each do |d|
            %tr
              %td= d.name
              %td= d.imei.to_s
              %td
                = link_to "删除", { controller: "devices", action: "destroy", id: d._id.to_s }, :method => "delete", :class => 'btn btn-danger btn-xs'
                = link_to "日志地图", { controller: "devices", action: "show_map", id: d._id.to_s }, :class => 'btn btn-default btn-xs'
                = link_to "日志列表", { controller: "logs", action: "index", device_id: d._id.to_s }, :class => 'btn btn-default btn-xs'
      %button.btn.btn-primary{data: {toggle: "modal", target: "#newDevice"} } 新设备

#newDevice.modal.fade
  .modal-dialog
    .modal-content
      = form_tag('/devices', method: "post") do
        .modal-header
          %button{type: "button", class: "close", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h3 录入新设备
        .modal-body
          .form-group
            = label_tag :name, "名称"
            = text_field_tag "device[name]", "", autofocus: true, class: "form-control"
          .form-group
            = label_tag :imei, "imei号"
            = text_field_tag "device[imei]", "", class: "form-control"
          .form-group{style: "display:none;"}
            = text_field_tag "device[user_id]", current_user._id.to_s
        .modal-footer
          %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消
          = submit_tag "创建", :class => 'btn-primary btn'

