= form_for(@device, url: {action: 'create'}) do |d|
  %p
    = d.label :name, "名称"
    = d.text_field :name
  %p
    = d.label :imei, "imei号"
    = d.text_field :imei
  %p.hide
    = d.label :user_id
    = d.text_field :user_id, value: @current_user._id.to_s
  %p
    = d.submit "创建"

= link_to '返回设备列表', action: 'index'
