- content_for :app_head do
  = javascript_include_tag "http://map.soso.com/api/v2/main.js"
  = javascript_include_tag "pages/devices-bundle"
  = javascript_include_tag "pages/logs-bundle"
  = stylesheet_link_tag "pages/devices-bundle", :media => "all"
  :javascript
    window.center = ['#{@center[0]}', '#{@center[1]}']
    window.start = '#{@start.to_a.join(',')}'
    window.end = '#{@end.to_a.join(',')}'
    window.zoom = '#{@zoom}'
    window.logs = '#{(@logs.map { |l| l.lat_offset.to_s + ',' + l.lng_offset.to_s }).join('-')}'
    window.device_id = '#{@device.id.to_s}'
    window.demo = '#{@demo}'
    window.start_str = '#{@start_str}'
    window.end_str = '#{@end_str}'

#container
.input_area
  = form_tag({controller: "devices", action: "show_map"}, method: "get") do
    .form-group
      = label_tag :name, "起始时间"
      .input-group.date.form_datetime.col-md-12{"data-date" => "", "data-date-format" => "yyyy/mm/dd - HH:ii p", "data-link-field" => "start_input"}
        %input#start_input_shown.form-control{readonly: "readonly", name: "start_time", size: "12", type: "text", value: ""}/
        %span.input-group-addon
          %span.glyphicon.glyphicon-remove
        %span.input-group-addon
          %span.glyphicon.glyphicon-th
      %input#start_input{type: "hidden", value: ""}/
    .form-group
      = label_tag :name, "终止时间"
      .input-group.date.form_datetime.col-md-12{"data-date" => "", "data-date-format" => "yyyy/mm/dd - HH:ii p", "data-link-field" => "end_input"}
        %input#end_input_shown.form-control{readonly: "readonly", name: "end_time", size: "12", type: "text", value: ""}/
        %span.input-group-addon
          %span.glyphicon.glyphicon-remove
        %span.input-group-addon
          %span.glyphicon.glyphicon-th
      %input#end_input{type: "hidden", value: ""}/
    .form-group
      = label_tag :name, "选择设备"
      = select_tag :id, options_from_collection_for_select(@devices, "id", "name", @device.id), class: "form-control"
    = submit_tag "确定", :class => 'btn-primary btn'
  = link_to "查看日志列表", { controller: "logs", action: "index", device_id: @device._id.to_s }, :class => 'btn btn-default btn-xs'
  - if @demo
    = link_to "返回", { controller: "devices", action: "show_map", id: @device._id.to_s, demo: false }, :class => 'btn btn-default btn-xs'
  - else
    = link_to "动态加载演示", { controller: "devices", action: "show_map", id: @device._id.to_s, demo: true }, :class => 'btn btn-default btn-xs'
