.container
  .row
    .col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        %fieldset
          %legend 登录
          .form-group
            = f.label :email, "邮箱"
            = f.email_field :email, :autofocus => true, class: "form-control"
          .form-group
            = f.label :password, "密码"
            = f.password_field :password, class: "form-control"
          - if devise_mapping.rememberable?
            .checkbox
              = f.label :remember_me do
                = f.check_box :remember_me
                保持登录状态
          = f.submit "登录", class: "btn btn-default"

