- content_for :app_head do
  = javascript_include_tag "pages/feedbacks-bundle"
  = stylesheet_link_tag "pages/feedbacks-bundle", :media => "all"

.container
  .span6.offset3
    %table{class: "table"}
      %tr
        %th 创建日期
        %th 标题
        %th 邮箱
      - @feedbacks.each do |f|
        %tr
          %td= f.created_at
          %td
            %a{class: "openFeedback", href: "#feedbackDetail", "data-toggle" => "modal", "data-title" => "#{f.title}", "data-content" => "#{f.content}", "data-email" => "#{f.email}"}= f.title
          %td= f.email

#feedbackDetail.modal.hide.fade
  .modal-header
    %button{type: "button", class: "close", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
    %h3
  .modal-body
    .control-group
      .controls
        %text_area_tag.content
    .control-group
      .controls
        %text_area_tag.email
  .modal-footer

