- content_for :app_head do
  = javascript_include_tag "pages/feedbacks-bundle"
  = stylesheet_link_tag "pages/feedbacks-bundle", :media => "all"

.container
  .col-sm-6.col-sm-offset-3
    .table-responsive
      %table.table.table-striped
        %tr
          %th 创建日期
          %th 标题
          %th 邮箱
        - @feedbacks.each do |f|
          %tr
            %td= f.created_at
            %td
              %a.openFeedback{href: "javascript:void();", data: {toggle: "modal", target: "#feedbackDetail", title: "#{f.title}", content: "#{f.content}", email: "#{f.email}"}}= f.title
            %td= f.email

#feedbackDetail.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: "button", class: "close", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
        %h3
      .modal-body
        .control-group
          .controls
            %text_area_tag.content
        .control-group
          .controls
            %text_area_tag.email
      .modal-footer

