- content_for :app_head do
  = javascript_include_tag "pages/feedbacks-bundle"
  = stylesheet_link_tag "pages/feedbacks-bundle", :media => "all"

.container
  .span6.offset3
    = form_for(@feedback, url: {action: 'create'}) do |f|
      .control-group
        = f.label :title, "标题"
        .controls
          = f.text_field :title
      .control-group
        = f.label :content, "内容"
        .controls
          = f.text_area :content
      .control-group
        = f.label :email, "邮箱"
        .controls
          = f.text_field :email
      .control-group
        = f.submit "创建"
