- content_for :app_head do
  = javascript_include_tag "pages/feedbacks-bundle"
  = stylesheet_link_tag "pages/feedbacks-bundle", :media => "all"

.container
  .col-sm-6.col-sm-offset-3
    = form_for(@feedback, url: {action: 'create'}) do |f|
      .form-group
        = f.label :title, "标题"
        = f.text_field :title, class: "form-control"
      .form-group
        = f.label :content, "内容"
        = f.text_area :content, class: "form-control"
      .form-group
        = f.label :email, "邮箱"
        = f.text_field :email, class: "form-control"
      .form-group
        = f.submit "创建", :class => 'btn-primary btn'
