- content_for :app_head do
  = javascript_include_tag "pages/logs-bundle"
  = stylesheet_link_tag "bootstrap-datetimepicker", :media => "all"
  :javascript
    window.start_str = '#{@start_str}'
    window.end_str = '#{@end_str}'

.container
  .span8.offset2
    - if @logs["data"].blank? 
      %h4
        没有日志,
        =link_to "创建一条", {controller: "logs", action: "new", device_id: @device._id.to_s}
    - else
      %div
        %span
          = link_to "清除日志", {controller: "logs", action: "clear", device_id: @device._id.to_s}, :method => "delete", :class => 'btn btn-mini'
        %span
          = link_to "地图显示日志", {controller: "devices", action: "show_map", id: @device._id.to_s}, :class => 'btn btn-mini'
        %span.pull-right
          = paginator_mini @logs
      %br
      = form_tag url_for(controller: :logs, action: :index), :method => 'get' do
        %span 时间范围:
        %span
          .controls.input-append.date.form_datetime{"data-date" => "", "data-date-format" => "yyyy/mm/dd - HH:ii p", "data-link-field" => "dtp_input1"}
            %input{id: "start_input", readonly: "readonly", name: "start_time", size: "12", type: "text", value: ""}/
            %span.add-on
              %i.icon-remove
            %span.add-on
              %i.icon-th
        %span -
        %span
          .controls.input-append.date.form_datetime{"data-date" => "", "data-date-format" => "yyyy/mm/dd - HH:ii p", "data-link-field" => "dtp_input2"}
            %input{id: "end_input", readonly: "readonly", name: "end_time", size: "12", type: "text", value: ""}/
            %span.add-on
              %i.icon-remove
            %span.add-on
              %i.icon-th
        %span
          .input-append
            = submit_tag "搜索", :class => 'btn-primary btn'
      %table{class: "table"}
        %tr 
          %th 经度
          %th 纬度
          %th 火星坐标经度
          %th 火星坐标纬度
          %th 产生时间
        - @logs["data"].each do |l|
          %tr               
            %td= l.lng.try(:round, 4)
            %td= l.lat.try(:round, 4)
            %td= l.lng_offset.try(:round, 4)
            %td= l.lat_offset.try(:round, 4)
            %td= Time.at(l.generated_at).strftime("%Y年%m月%d日%H时%M分%S秒")

      = link_to "创建日志", {controller: "logs", action: "new", device_id: @device._id.to_s}, :class => 'btn btn-mini'
    = link_to "返回设备列表", {controller: "devices", action: "index"}, :class => 'btn btn-mini'
