- content_for :app_head do
  = javascript_include_tag "pages/logs-bundle"
  = stylesheet_link_tag "pages/logs-bundle", :media => "all"
  :javascript
    window.start_str = '#{@start_str}'
    window.end_str = '#{@end_str}'

.container
  .col-sm-8.col-sm-offset-2
    - if @logs["data"].blank? 
      %h4
        没有符合条件的日志,
    - else
      %div
        %span
          = link_to "清除日志", {controller: "logs", action: "clear", device_id: @device._id.to_s}, :method => "delete", :class => 'btn btn-default btn-xs'
        %span
          = link_to "地图显示日志", {controller: "devices", action: "show_map", id: @device._id.to_s}, :class => 'btn btn-default btn-xs'
        %span.pull-right
          = paginator_mini @logs
      %br
      = form_tag url_for(controller: :logs, action: :index), :method => 'get' do
        .form-group
          = label_tag :start_input, "时间范围:", class: "control-label"
          #start_input_div.input-group.date.form_datetime.col-md-4{data: {date: "", "date-format" => "yyyy/mm/dd - HH:ii p", "link-field" => "start_input"} }
            %input#start_input_shown.form-control{readonly: "readonly", name: "start_time", size: "12", type: "text", value: ""}/
            %span.input-group-addon
              %span.glyphicon.glyphicon-remove
            %span.input-group-addon
              %span.glyphicon.glyphicon-th
          %input#start_input{type: "hidden", value: ""}/
          %span -
          #end_input_div.input-group.date.form_datetime.col-md-4{data: {date: "", "date-format" => "yyyy/mm/dd - HH:ii p", "link-field" => "end_input"} }
            %input#end_input_shown.form-control{readonly: "readonly", name: "end_time", size: "12", type: "text", value: ""}/
            %span.input-group-addon
              %span.glyphicon.glyphicon-remove
            %span.input-group-addon
              %span.glyphicon.glyphicon-th
          %input#end_input{type: "hidden", value: ""}/
          = submit_tag "搜索", :class => 'btn-primary btn'
      %table.table.table-striped
        %tr 
          %th 经度
          %th 纬度
          %th 火星坐标经度
          %th 火星坐标纬度
          %th 产生时间
          %th 基站信息(点击查看详细)
        - @logs["data"].each do |l|
          %tr               
            %td= l.lng.try(:round, 4)
            %td= l.lat.try(:round, 4)
            %td= l.lng_offset.try(:round, 4)
            %td= l.lat_offset.try(:round, 4)
            %td= Time.at(l.generated_at).strftime("%Y年%m月%d日%H时%M分%S秒")
            %td.bs_detail_td
              - if l.has_bs_info?
                %a{href: "javascript:void();", data: {toggle: "modal", target: "#bs_detail", "log-id" => l.id.to_s} }= l.bs_info
              - else
                %span= l.bs_info

    = link_to "返回设备列表", {controller: "devices", action: "index"}, :class => 'btn btn-default btn-xs'


#bs_detail.modal.fade
  .modal-dialog
    .modal-content
