- if @logs.blank? 
  %p 无日志 
- else
  %table
    %tr 
      %th 经度
      %th 纬度
      %th 产生时间
    - @logs.each do |l|
      %tr               
        %td= l.longitude
        %td= l.latitude
        %td= Time.at(l.generated_at).strftime("%Y年%m月%d日%H时%M分%S秒")

= link_to "返回设备列表", {controller: "devices", action: "index"}
= link_to "创建日志", {controller: "logs", action: "new", device_id: @device._id.to_s}
