- content_for :app_head do
  = javascript_include_tag "pages/logs-bundle"
  = stylesheet_link_tag "pages/logs-bundle", :media => "all"
.container
  .col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
    - if @special_logs.blank?
      %h4
        没有日志,
        = link_to "手动创建", { controller: "logs", action: "new_special_log" }
    - else
      = link_to "手动创建", { controller: "logs", action: "new_special_log" }
      .table-responsive
        %table.table.table-striped
          %tr
            %th 文件夹
            %th 文件名
            %th 操作
          - @special_logs.each do |sl|
            %tr{ data: {data: sl.data} }
              %td.folder= sl.folder
              %td.filename= sl.filename
              %td
                = link_to "查看数据", "javascript:void(0);", :class => 'btn btn-default btn-xs check-data'
                = link_to "删除", { controller: "logs", action: "delete_special_log", id: sl._id.to_s }, :method => "delete", :class => 'btn btn-danger btn-xs'

#showDataModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: "button", class: "close", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
        %h3 查看数据
      .modal-body
        %p
          %span 文件夹：
          %span.show-folder
        %p
          %span 文件名：
          %span.show-filename
        %p
          %span 数据：
          %textarea.show-data
      .modal-footer
        %a.btn.btn-primary{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 确定

