.container
  .span4.offset4
    = form_for(@log, url: {action: 'create'}) do |l|
      .control-group
        = l.label :latitude, "纬度"
        .controls
          = l.text_field :lat
      .control-group
        = l.label :longitude, "经度"
        .controls
          = l.text_field :lng
      .control-group.hide
        = l.label :device_id
        .controls
          = l.text_field :device_id, value: @device._id.to_s
      .control-group
        = l.submit "创建"

    = link_to '返回日志列表', {action: 'index', device_id: @device._id.to_s}, :class => 'btn btn-mini'
