!!!
%html
  %head
    %title Tracker
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = yield :app_head
    = csrf_meta_tags
  %body
    #app-notification.jesse-notification
      - if @flash.present?
        %span= @flash
      - else
        %span= (flash.map { |name, msg| msg }).join(', ')
    #wrap
      .navbar-wrapper
        .navbar-container
          .navbar.navbar-default{role: "navigation"}
            .navbar-header
              %button.navbar-toggle.collapsed{ type: "button", data: {toggle: "collapse", target: "#navbar-collapse"}}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand{href: "/devices"} Tracker
            .collapse.navbar-collapse#navbar-collapse
              %ul.nav.navbar-nav
                - if user_signed_in?
                  %li.divider-vertical
                  %li.active
                    %a{href: "/devices"} 设备列表
                %li.divider-vertical
                %li
                  %a{href: "#"} 关于我们
                %li.divider-vertical
                %li
                  %a{href: "#"} 联系我们
              %ul.nav.navbar-nav.navbar-right
                %li.dropdown
                  - if user_signed_in?
                    %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
                      = current_user.email
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{href: "/users/sign_out", data: {method: "delete"}, rel: "nofollow"} 退出
                  - else
                    %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
                      Account
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{href: "/users/sign_in"} 登录
                      %li
                        %a{href: "/users/sign_up"} 注册
      = yield
      #push
    #footer
      .container
        %p.muted.credit
          = link_to "ChangeLog", { controller: "/change_logs", action: "index" }, :method => "get"
          %span= "|"
          = link_to "Feedback", { controller: "/feedbacks", action: "new" }, :method => "get"
